<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiteDB" version="4.1.4" targetFramework="net40" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net40" />
  <package id="NLog" version="4.5.11" targetFramework="net40" />
  <package id="structuremap" version="4.2.0.402" targetFramework="net40" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net40" developmentDependency="true" />
</packages>